html, body {
    width: 100%;
    overflow-x: hidden;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.slides-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide .wrapper {
    position: absolute;
    top: 400px;
    left: 200px;
    width: 400px;
    color: #fff;
}

.slide h2 {
    margin: 0;
}

.slide p {
    font-size: 0.9em;
}